<button
  class="${this.status === 'downloaded' ? 'gg-icon-button gg-big' : 'hidden'}"
  onclick="${() => this.startRecording()}">
  <img alt="help-icon" src="icons/video-record.svg" />
</button>
<button
  class="${this.status === 'recording' ? 'gg-icon-button gg-big' : 'hidden'}"
  onclick="${() => this.stopRecording()}">
  <img alt="help-icon" src="icons/video-stop.svg" />
</button>
<button
  class="${this.status === 'recorded' ? 'gg-icon-button gg-big' : 'hidden'}"
  onclick="${() => this.downloadRecord()}">
  <img alt="help-icon" src="icons/video-download.svg" />
</button>
