#content {
  background: var(--bkg-color);
  color: var(--text-color);
  padding: 1rem;
  margin: 0;
}

.preference-group {
  padding-bottom: 1rem;
}

.preference-group-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.preference-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.with-checkbox,
.with-colorpicker {
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
}

.colorpicker {
  width: 1.5rem;
  height: 1.5rem;
  border: solid 1px var(--text-color);
  border-radius: 3px;
  cursor: pointer;
}

#reset-all {
  justify-self: end;
}

#footer {
  margin-top: 2rem;
}
