<link rel="stylesheet" href="lib/vanilla-picker/vanilla-picker.csp.css" />
<link rel="stylesheet" href="styles/girafecolorpicker.css" />

<div id="panel">
  <div id="content">
    ${this.preferenceGroups.map(group => uHtml`

    <div class="preference-group">
      <div class="preference-group-title" i18n="${group}">${group}</div>

      ${this.getPreferencesByGroup(group).map(([preference, key]) => 
        uHtmlFor(preference, key)` ${preference.uiElement === 'select' ? uHtml`

      <div class="preference-row" hidden="${!preference.visible}">
        <label for="${key}" class="gg-label" i18n="${key}">${key}</label>
        <select
          id="${key}"
          class="gg-select"
          onchange="${(evt: Event) => this.onSelectOption(key, evt)}"
          onmousedown="${() => this.onOpenSelectOption(key)}">
          ${preference.options.map(option => uHtml`
          <option
            i18n="${option.label}"
            ?selected="${preference.currentValue === option.value}"
            value="${option.label}">
            ${option.label}
          </option>
          `)}
        </select>
      </div>
      ` : uHtml``} ${preference.uiElement === 'checkbox' ? uHtml`

      <div class="preference-row with-checkbox" hidden="${!preference.visible}">
        <label for="${key}" i18n="${key}">${key}</label>
        <input
          id="${key}"
          type="checkbox"
          class="gg-checkbox"
          ?checked="${preference.currentValue}"
          onchange="${() => this.changePreference(key, !preference.currentValue)}" />
      </div>
      ` : uHtml``} ${preference.uiElement === 'color' ? uHtml`

      <div class="preference-row with-colorpicker" hidden="${!preference.visible}">
        <label for="${key}" i18n="${key}">${key}</label>
        <button class="colorpicker" id="${key}"></button>
      </div>
      ` : uHtml``} `)}
    </div>
    `)}

    <div id="footer">
      <button
        id="reset-all"
        class="gg-button"
        tip="Reset all preferences back to the default value"
        i18n="Reset All"
        onclick="${() => this.onResetAll()}">
        Reset All
      </button>
    </div>
  </div>
</div>
