<div id="panel">
  <div>
    <div class="option">
      <label for="layout" i18n="View" class="gg-label">View</label>
      <select id="layout" class="gg-select" onchange="${this.onLayoutSelect}">
        <option i18n="2D" value="2D">2D</option>
        <option i18n="2D / 3D" value="2D/3D">2D / 3D</option>
        <option i18n="3D" value="3D">3D</option>
      </select>
    </div>
    <fieldset class="shadows-group hidden">
      <legend i18n="Shadows">Shadows</legend>
      <div class="option shadows-option">
        <label for="shadowsCheckbox" i18n="Enable shadows" class="gg-label">Enable shadows</label>
        <input id="shadowsCheckbox" type="checkbox" class="gg-checkbox" onchange="${this.onShadowsToggle}" />
      </div>
      <div class="option shadows-date hidden">
        <label for="shadowsDate" i18n="Date" class="gg-label">Date</label>
        <input id="shadowsDate" type="datetime-local" class="gg-input" />
      </div>
    </fieldset>
  </div>
</div>
