<div id="panel">
  <div>
    <img class="logo" alt="geogirafe-logo" src="images/logo/horizontal_black.svg" />
    <p>
      <span i18n="Version">Version</span> : ${this.version}<br />
      <span i18n="Build">Build</span> : ${this.build}<br />
      <span i18n="Date">Date</span> : ${this.date}
    </p>

    <p>
      <span i18n="Source">Source</span> :
      <a href="https://gitlab.com/geogirafe/gg-viewer" i18n="GitLab" rel="noopener" target="_blank">GitLab</a>
    </p>
  </div>
</div>
